{% extends "base.html" %}
{% load staticfiles %}
]	{% block title %}
	<title>導覽頁面</title>
	{% endblock %}
{% block content %}

<div class="container">
	<br><br>
    <div class="col-md-12">
    	<div id="bgcolor" class="col-md-2 col-md-offset-1 col-xs-6">
            <h4 style="text-align: center;">BLOG</h4>
        	<a href="{% url 'blog_list' %}" target="_blank"><img src="{% static 'media/icon/BLOG.svg' %}"></a>
            <br><br>
            <div style="text-align: center;">
                <a href="{% url 'blog_list' %}" style="color: #000000" target="_blank">進入作品</a>
                <a href="#" style="color: #000000" target="_blank">開發記錄</a>
            </div>
            <br><br>
    	</div>
        <div id="bgcolor" class="col-md-2 col-md-offset-2 col-xs-6">
            <h4 style="text-align: center;">定期爬蟲比價網站</h4>
            <a href="http://ivanjo39192.pythonanywhere.com" target="_blank"><img src="{% static 'media/icon/SAVEMONEY.svg' %}"></a>
            <br><br>
            <div style="text-align: center;">
                <a href="http://ivanjo39192.pythonanywhere.com" style="color: #000000" target="_blank">進入作品</a>
                <a href="#" style="color: #000000" target="_blank">開發記錄</a>
            </div>
            <br><br>
        </div>
        <div id="bgcolor" class="col-md-2 col-md-offset-2 col-xs-6">
            <h4 style="text-align: center;">大學專題 美妝比價網站</h4>
            <a href="http://cosmepick.xyz" target="_blank"><img src="{% static 'media/icon/lipstick.svg' %}"></a>
            <br><br>
            <div style="text-align: center;">
                <a href="http://cosmepick.xyz" style="color: #000000" target="_blank">進入作品</a>
                <a href="#" style="color: #000000" target="_blank">開發記錄</a>
            </div>
            <br><br>
        </div>
        <div class="col-md-12"><br></div>
    </div>
    <div class="col-md-12">
        <div id="bgcolor" class="col-md-2 col-md-offset-1  col-xs-6">
            <h4 style="text-align: center;">遊戲資訊網</h4>
            <a href="https://girlfrontlineinfo.herokuapp.com/" target="_blank"><img src="{% static 'media/icon/gamepad.svg' %}"></a>
            <br><br>
            <div style="text-align: center;">
                <a href="https://girlfrontlineinfo.herokuapp.com/" style="color: #000000" target="_blank">進入作品</a>
                <a href="#" style="color: #000000" target="_blank">開發記錄</a>
            </div>
            <br><br>
        </div>
        <div id="bgcolor" class="col-md-2 col-md-offset-2  col-xs-6">
            <h4 style="text-align: center;">爬蟲實作相關</h4>
            <a href="/blog/blog_type/90" target="_blank"><img src="{% static 'media/icon/web-crawler.svg' %}"></a>
            <br><br>
            <div style = "text-align: center">
                <a href="/blog/blog_type/90" style="color: #000000" target="_blank">開發記錄</a>
            </div>
            <br><br>
        </div>
        <div id="bgcolor" class="col-md-2 col-md-offset-2 col-xs-6">
            <h4 style="text-align: center;">Github</h4>
            <a href="https://github.com/ivanjo39191/" target="_blank"><img src="{% static 'media/icon/github-sign.svg' %}"></a>
            <br><br>
            <div style = "text-align: center">
                <a href="https://github.com/ivanjo39191/" style="color: #000000" target="_blank">進入我的Github</a>
            </div>
            <br><br>
        </div>

    </div>
</div>
{% endblock %}

<!-- <div class="container">
    <br><br>
    <div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2">
    <a href="{% url 'blog_list' %}"><img src="{% static 'media/icon/BLOG.svg' %}"></a>
    </div>
    <div class="col-md-4 col-sm-4">
    <a href="{% url 'blog_list' %}"><img src="{% static 'media/icon/SAVEMONEY.svg' %}"></a>
    </div>
</div> -->
